@import '../../assets/palette.scss';

header {
  background: $primary;
  margin-bottom: $spacing * 4px;
  padding: $spacing * 2px;
}

div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-width * 1px;
}

a {
  color: $white;
}

// app-search {

// }
