@import '../../assets/theme.scss';

header {
  background: $primary;
  padding: $spacing * 2px $spacing * 4px;
  display: flex;
  justify-content: space-between;

  @include for-phone-only {
    flex-direction: column;
    padding: $spacing * 2px;
 }

}

a {
  color: $white;
}

