@import "../../assets/palette.scss";

$rateSize: 34;

a {
  display: inline-block;
}

img {
  border-radius: 5px;
}

div {
  position: relative;
  margin-bottom: $rateSize * 1px;
}
app-rate {
  bottom: ($rateSize / 2) * -1px;
  left: $spacing * 1px;
  position: absolute;
}

h2 {
  font-size: 16px;
}

p {
  opacity: 0.6;
}
