@import '../../assets/theme.scss';

h2 {
  margin-bottom: $spacing * 2px;
}

owl-carousel-o {
  display: block;
  margin-left: $spacing * -1px;
}

app-card {
  display: block;
  padding: 0 $spacing * 1px;
}
