<div *ngIf="loadCompleted">
  <div class="container" [style.backgroundImage]="getBackdrop()">
    <div class="content">
      <img *ngIf="!mobile" [src]="info['poster']" />
      <div class="info">
        <h1>{{ info["title"] }}</h1>
        <app-rate [rate]="info['vote_average']"></app-rate>
        <span>{{ info["release_date"] | date: "mediumDate" }}</span>
        <ul>
          <li *ngFor="let genre of info['genres']">{{ genre["name"] }}</li>
        </ul>
        <p class="tagline" *ngIf="info['tagline']">{{ info["tagline"] }}</p>
        <p class="overview">{{ info["overview"] }}</p>
      </div>
    </div>
  </div>
</div>
