@import '../../assets/palette.scss';

.container {
  position: relative;

  &:before {
    background: rgba($primary, .7);
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
}

.content {
  color: $white;
  position: relative;
  z-index: 1;
}
