<div *ngIf="loadCompleted">
  <div class="container" [style.background]="getBackdrop()" >
    <div class="content">
      <img [src]="info['poster']" />
      <div class="info">
        <h1>{{ info["title"] }}</h1>
        <app-rate [rate]="info['vote_average']"></app-rate>
        {{ info["release_date"] | date: "mediumDate" }}
        <ul>
          <li *ngFor="let genre of info['genres']">{{ genre["name"] }}</li>
        </ul>
        <p>{{ info["overview"] }}</p>
      </div>
    </div>
  </div>
</div>
